// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #30C2FF;
$yellow: #FFDB29;
$orange: #E67E22;
$green: #3EC28F;
$gray: #000000;
$light-gray: #F4F4F4;
$dark-gray: #141414;
$medium-dark-gray: #1A1A1A;
