.main-container {
  display: flex;
}
#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  // height: calc(100vh - 90px);
  // right: 0 !important;
}
.main-intro {
  padding: 20px;
  margin-top: 20px;
  p, h2 {
    margin: 0;
  }
}
