<div class="banner">
	<h1><%= @kitchen.title %></h1>
	<p><%= @kitchen.description %></p>
</div>
<div class="container">
	

	<%= link_to new_kitchen_booking_path(@kitchen) do %>
	<div class="btn">Book</div>
	<% end %>
	<br>
	<%= link_to "back to more kitchens", kitchens_path %>
</div>


