<ul class="inbox">
  <% @bookings_received.each do |booking| %>
    <li class="message" data-booking-id="<%= booking.id %>">
      <%= render 'bookings/bookingcontent', booking: booking %>
    </li>
  <% end %>
</ul>
