.card {
  background: #FAFAFA;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px 0;
  position: relative;
  a {
    color: #484848;
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
  }
}
.card-image {
  width: 100%;
  height: 250px;
  background-size: cover !important;
  background-position: center;
  opacity: 0.8;
  transition: all 0.25s ease;
  &:hover {
    opacity: 1;
  }
}
.card .body {
  padding: 10px;
}
.card-price p {
  color: #484848;
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}
.card-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  color: $dark-gray;
}
.heart-blue {
 color: $blue;
}
