.details-show-kitchen {
	padding: 15px;
	display: flex;
	justify-content: space-between;

	.info {
		display: block;
		min-width: 350px;
		padding: 15px;
	}

	.book-box {
		padding: 15px;
		min-width: 350px;
		min-width: 50%;
		min-height: 300px;
		flex: 0 1 0;
		background-color: gray;
		border-radius: 4px;
	}
}

