.inbox {
  padding: 0;
}
.message {
  display: flex;
  margin: 10px 0;
  padding: 20px;
  background-color: $medium-dark-gray;
  color: $light-gray;
  border-radius: 3px;

  p {
    margin: 0;
    padding: 5px 0;
  }

  a {
    font-weight: bolder;
    color: white;
  }
}
.message-body {
  width: 60%;
}
.message-price {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px dotted $light-gray;
  p {
    margin-bottom: 0px;
  }
}
.message-status, #booking-decision {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px dotted $light-gray;
  p {
    margin-bottom: 0px;
  }
  #decline-message {
    margin-left: 20px;
    font-size: 10px;
  }
}
#booking-decision {
  justify-content: space-around;
}
#approved {
  color: $green;
}
#declined {
  color: $red;
}
#pending {
  color: $yellow;
}
.message-body-date {
  display: flex;
}
.message-body-date-start {
  padding-right: 30px;
}
.btn {
  width: 100px;
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .message {
    display: block;
  }
  .message-body {
    width: 100%;
    font-size: 12px;
    word-wrap: break-word;
  }
  .message-price, .message-status {
    width: 100%;
    flex-direction: row;
    font-size: 12px;
    border-left: 0;
    justify-content: left;
    p {
    margin-bottom: 12.5px;
    }
  }
  .for-me {
    flex-direction: column;
    align-items: left;
  }
  #booking-decision {
    justify-content: right;
    width: 100%;
    border-left: 0;
  }
}
